@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
    url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-size: inherit;
}
.wrapper{
    max-width: 840px;
    margin: auto;
}
h1{
    display: block;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Myriad Pro';
}
.announcement{
    width: 100%;
    line-height: 95px;
    margin-bottom: 4px;
}
.announcement span:first-of-type{
    display: inline;
    margin-right: 45px;
    font-size: 48px;
    font-family: 'Myriad Pro';
    font-weight: bold;
    color: white;
    vertical-align: middle;
}
.announcement span:nth-child(2){
    font-family: 'Oswald', sans-serif;
}
.announcement span:last-of-type{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
}
.black{
    background-color: #000000;;
}
.grey{
    background-color: #c4c4c4;
}
.announcement.grey{
    margin-bottom: 32px;
}
.info:first-of-type{
    margin-bottom: 48px;
}
.info:last-of-type{
    margin-bottom: 33px;
}
.artist_info{
   height: 210px;
    margin-bottom: 48px;
}
.artist_info:last-of-type{
    margin-bottom: 33px;
}
.coub{
    height: 100%;
    max-width: 210px;
    width: 100%;
    background-color: black;
    margin-right: 14px;
    display: inline-block;
}
.for_spans{
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
    font-family: 'Myriad Pro';
}
.for_spans span:first-of-type{
    font-size: 40px;
    font-weight: bold;
    margin-right: 37px;
    vertical-align: top;
    line-height: 26px;
}
.about{
    display: inline-block;
    vertical-align: top;
    padding-top: 31px;
}
.about span{
    display: block;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}
.about span:first-of-type{
    font-size: 24px;
    margin-bottom: 16px;
}
.diff_marg{
    margin: 36px 0;
}
.announcement.grey.show{
    margin-bottom: 4px;
}